/* my colors: #465566 #4984CC #638ABA #856429 #BA9B63 */

* {
    color: #ddd;
    font-family: 'Geologica', sans-serif;
    font-size: 102%;
    box-sizing: border-box;
}

html {
    /* Ensure HTML is full height */
    height: 100%;
    width: 100%;
    /* Set default background in case body fails */
    background-color: #465566;
}

body {
    /* FIX: Completely remove default body margin and padding */
    margin: 0;
    padding: 0;

    /* FIX: Ensure body spans at least the full viewport height */
    min-height: 100vh;

    /* FIX: Re-apply background gradient to body */
    background: rgb(70,85,102);
    background: linear-gradient(0deg, #4984CC 0%, #465566 100%);

    list-style: none;
}

/* FIX: Apply your original 40px left/right spacing as PADDING on the body's direct children */
header, main.content {
    /* We are keeping 40px of space on the sides for the content */
    padding-right: 40px;
    padding-left: 40px;

    /* Use 100% width to fill the space inside the padding */
    width: 100%;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FIX: Added padding-bottom to the main content container for breathing room */
main.content {
    padding-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

li {
    list-style: none;
}

img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    width: 75%;
}

.container-header {
    display:flex;
    align-items: center;
    width: 100%;
    background-color: #856429;
    border-radius: 5%;
    color: #4984CC;
    padding: 5px;
}

.home-div {
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu-nav {
    box-sizing: border-box;
    float: right;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.menu-button {
    align-items: center;
    float: right;
    opacity:1;
}

.menu-item {
    padding: 5px;
}

.navigation {
    float: right;
    margin-left: auto;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-nav li {
    display: inline-block;
}

.image-profil {
    display: inline-block;
    border-radius: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.image-profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socials li img {
    display: block;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    padding: 4px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.socials-wrapper {
    /* FIX: Ensure the wrapper itself is centered if needed */
    width: 100%;
    display: flex;
    justify-content: center;
}

.socials-wrapper ul {
    margin: 0; /* Clear margin */
    padding: 0; /* Clear padding */
    text-align: center;
}

.list-socials {
    /* FIX: Centering logos using flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.list-socials li {
    display: inline-block;
}

.whatido {
    line-height: 150%;
    height: 120px;
}


/* --- Media Queries --- */

@media only screen and (max-width: 700px) {
    * {
        font-size: 100%;
    }

    header, main.content {
        padding-right: 5px;
        padding-left: 5px;
    }

    section {
        width: 90%;
    }
}


@media only screen and (max-width: 550px) {
    section {
        width: 97%;
    }

    .whatido {
        text-align: left;
    }

    .menu-nav {
        position:relative;
        display: block;
    }

    .navigation .menu-button {
        position:relative;
        display: block;
    }

    .option {
        list-style:none;
        margin:0;
        padding:0;
        width:150px;
        box-shadow:0 0 3px  #BA9B63,
                0 0 0 5px rgba(100,100,100,.3);
        border-radius:5px;
        margin:20px;
    }

    .option .menu-item {
        display:none;
        height:20px;
        padding:10px;
        color:white;
        border-top:1px solid rgba(255,255,255,.1);
    }

    .option .menu-item:last-child{
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
    }

    .menu-button:before{
        height: 2px;
        width: 20px;
        background: white;
        display: inline-block;
        content: "";
        box-shadow:0px -5px 0px 0px  white,
                0px -10px 0px 0px white;
        margin-right:10px;
        transition:all .5s;
    }

    .menu-button {
        padding: 2px;
        padding-bottom: 20px;
    }

    input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
    }

    #collapse:checked ~ .menu-item{
        display:block;
        margin-top:0;
    }
}