/* my colors: #465566 #4984CC #638ABA #856429 #BA9B63 */

* {
    color: #ddd;
    font-family: 'Geologica', sans-serif;
    font-size: 102%;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    background-color: #465566;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(70,85,102);
    background: linear-gradient(0deg, #4984CC 0%, #465566 100%);
    list-style: none;
}

header, main.content {
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
}

main.content {
    padding-bottom: 20px;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    width: 75%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container-header {
    display:flex;
    align-items: center;
    width: 100%;
    background-color: #856429;
    border-radius: 5%;
    color: #4984CC;
    padding: 5px;
}

.home-div {
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu-nav {
    box-sizing: border-box;
    float: right;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.menu-button {
    align-items: center;
    float: right;
    opacity:1;
}

.menu-item {
    padding: 5px;
}

.navigation {
    float: right;
    margin-left: auto;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-nav li {
    display: inline-block;
}

.image-profil {
    display: inline-block;
    border-radius: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.image-profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socials li img {
    display: block;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    padding: 4px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.socials-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.socials-wrapper ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.list-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.list-socials li {
    display: inline-block;
}

.whatido {
    line-height: 150%;
    height: 120px;
}

#publications {
    max-width: 85%;
    margin: auto;
    width: 100%;
    text-align: left;
    flex-direction: column;
    display: flex;
}

#publications h1 {
    text-align: center;
    color: #BA9B63;
    margin-bottom: 40px;
    font-size: 2.2em;
}

.publication-list {
    margin-top: 30px;
    width: 100%;
}

.publication-item {
    border: 1px solid #638ABA;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

.publication-item h2 {
    color: #BA9B63;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
}

.pub-authors {
    font-style: italic;
    font-size: 0.9em;
    color: #ddd;
    margin-bottom: 5px;
}

.pub-venue {
    font-size: 0.9em;
    color: #aaa;
    margin-bottom: 15px;
}

.abstract-checkbox {
    position: absolute;
    visibility: hidden;
}

.abstract-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #4984CC;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}
.abstract-button:hover {
    background-color: #638ABA;
}

.abstract-button::before {
    content: "Show Abstract";
}

.abstract-checkbox:checked + .abstract-button::before {
    content: "Hide Abstract";
}

.abstract-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.abstract-content p {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px dashed #638ABA;
    line-height: 1.6;
    font-size: 0.95em;
    color: #ccc;
    margin-bottom: 0;
}

.abstract-checkbox:checked ~ .abstract-content {
    max-height: 1000px;
    opacity: 1;
    padding-bottom: 10px;
}

/* --- Media Queries --- */

@media only screen and (max-width: 700px) {
    * {
        font-size: 100%;
    }

    header, main.content {
        padding-right: 5px;
        padding-left: 5px;
    }

    section {
        width: 90%;
    }

    #publications {
        max-width: 100%;
    }
}


@media only screen and (max-width: 550px) {
    section {
        width: 97%;
    }

    .whatido {
        text-align: left;
    }

    .menu-nav {
        position:relative;
        display: block;
    }

    .navigation .menu-button {
        position:relative;
        display: block;
    }

    .option {
        list-style:none;
        margin:0;
        padding:0;
        width:150px;
        box-shadow:0 0 3px  #BA9B63,
                0 0 0 5px rgba(100,100,100,.3);
        border-radius:5px;
        margin:20px;
    }

    .option .menu-item {
        display:none;
        height:20px;
        padding:10px;
        color:white;
        border-top:1px solid rgba(255,255,255,.1);
    }

    .option .menu-item:last-child{
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
    }

    .menu-button:before{
        height: 2px;
        width: 20px;
        background: white;
        display: inline-block;
        content: "";
        box-shadow:0px -5px 0px 0px  white,
                0px -10px 0px 0px white;
        margin-right:10px;
        transition:all .5s;
    }

    .menu-button {
        padding: 2px;
        padding-bottom: 20px;
    }

    input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
    }

    #collapse:checked ~ .menu-item{
        display:block;
        margin-top:0;
    }
}